body, html {
    height: 100%; /* Make sure the page height is full */
    margin: 0; /* Reset default margin */
    background-color: #24282d;
}


[data-aos="fade-up"] {
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
  
[data-aos="fade-up"].aos-animate {
opacity: 1;
}
  

.grid-item {
    margin: 10px;
    padding: 20px;
    border: 2px solid transparent; /* Default border, can be overridden by specific classes */
    border-radius: .25rem;
    transition: transform .2s;
    position: relative;
    color: #0742f4; /* This makes the text color white for contrast */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 257px;
    width: 184px; /* Set a fixed height or use other responsive techniques */
}

.grid-item:hover {
    transform: scale(1.05);
}

.grid-item .stats {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: .25rem;
}

.grid-item:hover .stats {
    display: flex;
}


/* Style for .stats on hover when .grid-item has .border-completed */
.grid-item.border-completed:hover .stats {
    /* Your custom styles for completed items on hover */
    background: rgba(9, 224, 9, 0.5); /* Example: a lighter shade of green on hover */
    
    
    /* Add other styles as needed */
}

.grid-item.border-planning:hover .stats {
    /* Your custom styles for completed items on hover */
    background: rgba(14, 159, 212, 0.5); /* Example: a lighter shade of green on hover */
    
    
    /* Add other styles as needed */
}
.grid-item.border-current:hover .stats {
    /* Your custom styles for completed items on hover */
    background: rgba(255, 193, 7, 0.5); /* Example: a lighter shade of green on hover */
    
    
    /* Add other styles as needed */
}
.grid-item.border-paused:hover .stats {
    /* Your custom styles for completed items on hover */
    background: rgba(224, 33, 8, 0.5); /* Example: a lighter shade of green on hover */
    
    
    /* Add other styles as needed */
}




.grid-item-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    color: white; /* White text color */
    padding: 5px 10px; /* Padding inside the background */
    font-size: 1em; /* Adjustable based on your design */
    text-align: center; /* Centered text */
    box-sizing: border-box; /* Includes padding in width */
    font-family: 'Arial', sans-serif; /* Modern, legible font */
}


/* This is to create a dark overlay so the text is readable on any background */
.grid-item::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    border-radius: .25rem;
    z-index: 1;
}

/* This is for the text and stats overlay so that it stands out over the image */
.item-content {
    position: relative;
    z-index: 2;
}

#side-menu {
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed position */
    left: 0; /* Align to the left side */
    top: 55px; /* Align to the top */
    height: 100%; /* Full height */
    
    overflow-x: hidden; /* Hide horizontal overflow */
    padding-top: 60px; /* Padding from the top */
    color: white; /* Text color */
}


/* ------------------------------------------------------------------------- */
#side-menu-right {
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed position */
    right: 0; /* Align to the left side */
    top: 55px; /* Align to the top */
    height: 100%; /* Full height */
    max-height: calc(100% - 70px); /* Adjust 70px to the height of your footer */
    overflow-y: auto; /* Enables scrolling for the sidebar content */
    overflow-x: hidden; /* Hide horizontal overflow */
    padding-top: 70px; /* Padding from the top */
    color: white; /* Text color */
    transform: translateX(100%); /* Start off-screen */
    transition: transform 0.3s ease-in-out;
}
/* Update or remove styles related to the sidebar animation if not needed */
#side-menu-right a {
    padding: 8px 8px 80px 32px; /* Combine padding-bottom with the shorthand */
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}


#side-menu-right.active {
    transform: translateX(0); /* Move into view */
    padding-bottom: 80px;

}

#side-menu-right .btn-primary {
    color: white; /* Text color */
    background-color: #007bff; /* Background color */
    border: none; /* Removes the border */
    border-radius: 0.25rem; /* Slightly rounded corners */
    padding: 0.25rem 0.5rem; /* Padding inside the button */
    font-size: 0.875rem; /* Font size */
    line-height: 1.5; /* Line height */
    text-align: center; /* Center the text */
    white-space: nowrap; /* Prevents the text from wrapping */
    vertical-align: middle; /* Aligns vertically */
    cursor: pointer; /* Changes cursor to indicate it's clickable */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out; /* Transition for hover effects */
}

#side-menu-right .btn-primary:hover {
    background-color: #0056b3; /* Darker background color on hover */
}



/* Ensure the sidebar is initially hidden */
.sidebar-hidden {
    transform: translateX(100%);
    background-color: #343a40; /* Background color */
}



/* Class to be added via JavaScript to slide in */
.sidebar-visible {
    transform: translateX(0);
    background-color: #343a40; /* Background color */
}

/* ------------------------------------------------------------------------- */


/* Adjust the main content area padding to prevent it from being hidden behind the sidebar */

#main {
    padding-top: 70px; /* Adjust this value based on the actual height of your navbar */
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 70px; /* Maintain the existing padding for left, right, and bottom */
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 2 * 250px); /* Assuming the sidebar is 250px */
    background-color: #24282d;
}


/* The container wrapping all other elements, if not present, use body instead */
.main-container {
    min-height: 100%;
    position: relative;
    padding-bottom: 60px; /* Height of the footer */
    
}



/* You can also remove or comment out the JavaScript function that toggles the sidebar if you no longer need it */


.content-area {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));
    grid-gap: 1rem;
    
}




.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020; /* Ensure this is less than the z-index of the side-menu */
}



.navbar-nav {
    flex-direction: row;
    width: 100%;
    justify-content: center;
}


body .navbar.navbar-expand-md.navbar-dark.bg-dark .navbar-nav .nav-link.active {
    color: #0fd3e184;
    font-size: 20px;
}






/* Chatbot container styling */
.chatbot-container {
    display: none;
    position: fixed;
    bottom: 50px; /* Make room for toggle button */
    right: 10px;
    width: 320px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    overflow: hidden;
    flex-direction: column;
    transition: all 0.3s ease;
    z-index: 1000; /* Ensure it's above other elements */
}

/* Header styling */
.chat-header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Message area styling */
.chat-messages {
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    background-color: #2a2a2a;
}

/* Message bubble styling */
.chat-bubble {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: #555;
    color: white;
    max-width: 80%;
}

.chat-bubble.bot {
    background-color: #007BFF; /* Bot message color */
    align-self: flex-start; /* Align bot messages to left */
}

.chat-bubble.user {
    
    background-color: #666; /* User message color */
    align-self: flex-end; /* Align user messages to right */
    margin-left: auto; /* Push the bubble to the right */
}

/* Avatar styling */
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #666;
    margin-right: 10px;
}

/* Input area styling */
.input-area {
    padding: 10px;
    background-color: #333;
    display: flex;
}

/* Input styling */
.input-area input {
    flex-grow: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 8px;
}

/* Send button styling */
.input-area button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

/* Toggle button styling */
.toggle-chatbot {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    z-index: 1001; /* Ensure button is above the chatbot */
}








.grid-item.border-completed {
    border-color: rgb(40, 167, 69); /* green for completed */
}

.grid-item.border-current {
    border-color: rgb(255, 193, 7); 
}

.grid-item.border-paused {
    border-color: rgb(224, 33, 8);
}

.grid-item.border-planning {
    border-color: rgb(14, 159, 212); 
}
.bg-dark-custom {
    background-color: #343a40 !important; /* Dark background color, use !important to override Bootstrap's styles */
    color: #ffffff !important; /* Light text color for contrast, use !important to override */
}
.bg-dark-custom .text-muted {
    color: #cccccc !important; /* Lighter text color for contrast */
}


#sidebar-description {
    display: block;
    width: 100%; /* Adjust if necessary */
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em; /* Adjust to your line-height */
    /* max-height and transition properties are now removed */
    max-height: 7.5em; /* Adjust this value based on your line-height and number of lines to show when collapsed */
    overflow: hidden;
}

#sidebar-description.expanded {
    /* max-height is removed */
    white-space: normal; /* Let the text wrap to new lines */
}
